node-red/flows/v_gauge_wave.json
[
    {
        "id": "d33fce24.2fa1e",
        "type": "inject",
        "z": "14d701a3.67e56e",
        "name": "",
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "b86e67f1.d9f6f8"
            ]
        ]
    },
    {
        "id": "69702e19.b6d3d",
        "type": "inject",
        "z": "14d701a3.67e56e",
        "name": "",
        "topic": "",
        "payload": "slist 0 0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "b86e67f1.d9f6f8"
            ]
        ]
    },
    {
        "id": "ea2f80c5.2d2a3",
        "type": "inject",
        "z": "14d701a3.67e56e",
        "name": "",
        "topic": "",
        "payload": "ms 1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "b86e67f1.d9f6f8"
            ]
        ]
    },
    {
        "id": "20ce2310.4c266c",
        "type": "inject",
        "z": "14d701a3.67e56e",
        "name": "",
        "topic": "",
        "payload": "encode 1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "b86e67f1.d9f6f8"
            ]
        ]
    },
    {
        "id": "b86e67f1.d9f6f8",
        "type": "function",
        "z": "14d701a3.67e56e",
        "name": "Four Channels",
        "func": "msg.payload += '\\r';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d5410de0.2f266",
        "type": "serial out",
        "z": "14d701a3.67e56e",
        "name": "",
        "serial": "b9220e4.fb37df",
        "x": 2460,
        "y": 620,
        "wires": []
    },
    {
        "id": "aade69b2.8a3248",
        "type": "serial in",
        "z": "14d701a3.67e56e",
        "name": "",
        "serial": "b9220e4.fb37df",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "f78455e6.b34898",
                "48125d5d.fe3234"
            ]
        ]
    },
    {
        "id": "bc594d9d.1c6d9",
        "type": "ui_gauge",
        "z": "14d701a3.67e56e",
        "name": "",
        "group": "de0f7450.093f18",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Channel 1",
        "label": "Volts (V)",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1050,
        "y": 540,
        "wires": []
    },
    {
        "id": "134c504d.6fb1",
        "type": "inject",
        "z": "14d701a3.67e56e",
        "name": "",
        "topic": "",
        "payload": "slist 1 1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "b86e67f1.d9f6f8"
            ]
        ]
    },
    {
        "id": "ef36667.b6bcf98",
        "type": "ui_gauge",
        "z": "14d701a3.67e56e",
        "name": "",
        "group": "de0f7450.093f18",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Channel 2",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1050,
        "y": 580,
        "wires": []
    },
    {
        "id": "176d09f7.618cb6",
        "type": "function",
        "z": "14d701a3.67e56e",
        "name": "Split",
        "func": "var str = msg.payload;\n\nvar sep = str.split(\",\");\n\nvar msg1 = { payload: sep[0] };\nvar msg2 = { payload: sep[1] };\nvar msg3 = { payload: sep[2] };\nvar msg4 = { payload: sep[3] };\n\n\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "noerr": 0,
        "x": 850,
        "y": 600,
        "wires": [
            [
                "bc594d9d.1c6d9"
            ],
            [
                "ef36667.b6bcf98"
            ],
            [
                "6ee61531.8da99c"
            ],
            [
                "4616106.c051af"
            ]
        ]
    },
    {
        "id": "35791ff8.15c72",
        "type": "inject",
        "z": "14d701a3.67e56e",
        "name": "",
        "topic": "",
        "payload": "slist 2 2",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "b86e67f1.d9f6f8"
            ]
        ]
    },
    {
        "id": "16ad4c55.947844",
        "type": "inject",
        "z": "14d701a3.67e56e",
        "name": "",
        "topic": "",
        "payload": "slist 3 3",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "b86e67f1.d9f6f8"
            ]
        ]
    },
    {
        "id": "6ee61531.8da99c",
        "type": "ui_gauge",
        "z": "14d701a3.67e56e",
        "name": "",
        "group": "de0f7450.093f18",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Channel 3",
        "label": "Volts (V)",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1050,
        "y": 620,
        "wires": []
    },
    {
        "id": "4616106.c051af",
        "type": "ui_gauge",
        "z": "14d701a3.67e56e",
        "name": "",
        "group": "de0f7450.093f18",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Channel 4",
        "label": "Volts (V)",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1050,
        "y": 660,
        "wires": []
    },
    {
        "id": "fb555d35.549ab",
        "type": "file",
        "z": "14d701a3.67e56e",
        "name": "",
        "filename": "/media/pi/CHEN/test.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 690,
        "y": 800,
        "wires": []
    },
    {
        "id": "f78455e6.b34898",
        "type": "debug",
        "z": "14d701a3.67e56e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "cee55da4.5a10d",
        "type": "trigger",
        "z": "14d701a3.67e56e",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-500",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 680,
        "y": 600,
        "wires": [
            [
                "176d09f7.618cb6"
            ]
        ]
    },
    {
        "id": "f72f9a2b.58ffd8",
        "type": "ui_button",
        "z": "14d701a3.67e56e",
        "name": "",
        "group": "de0f7450.093f18",
        "order": 8,
        "width": "3",
        "height": "3",
        "passthru": false,
        "label": "Stop",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "",
        "x": 2130,
        "y": 620,
        "wires": [
            [
                "654ce948.0bdc48"
            ]
        ]
    },
    {
        "id": "ad10c775.92aff8",
        "type": "ui_button",
        "z": "14d701a3.67e56e",
        "name": "",
        "group": "de0f7450.093f18",
        "order": 7,
        "width": "3",
        "height": "3",
        "passthru": false,
        "label": "Start",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "encode 1,ms ,slist ,start",
        "payloadType": "str",
        "topic": "",
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "62e585e4.06183c"
            ]
        ]
    },
    {
        "id": "48125d5d.fe3234",
        "type": "switch",
        "z": "14d701a3.67e56e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "stop",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "encode",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "slist",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ms",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 430,
        "y": 620,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [
                "cee55da4.5a10d",
                "fb555d35.549ab"
            ]
        ]
    },
    {
        "id": "1f3ace88.ad3f21",
        "type": "inject",
        "z": "14d701a3.67e56e",
        "name": "",
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "b86e67f1.d9f6f8"
            ]
        ]
    },
    {
        "id": "d404d968.7b1808",
        "type": "ui_dropdown",
        "z": "14d701a3.67e56e",
        "name": "",
        "label": "Select records per second",
        "place": "Select option",
        "group": "de0f7450.093f18",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "1",
                "value": 1000,
                "type": "num"
            },
            {
                "label": "2",
                "value": "500",
                "type": "str"
            },
            {
                "label": "10",
                "value": "100",
                "type": "str"
            },
            {
                "label": "1000",
                "value": "1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1000,
        "y": 100,
        "wires": [
            [
                "54a8275d.015b18"
            ]
        ]
    },
    {
        "id": "62e585e4.06183c",
        "type": "function",
        "z": "14d701a3.67e56e",
        "name": "Split",
        "func": "var str = msg.payload;\n\nvar sep = str.split(\",\");\n\nvar msg1 = { payload: sep[0] };\nvar msg2 = { payload: sep[1] };\nvar msg3 = { payload: sep[2] };\nvar msg4 = { payload: sep[3] };\n\n\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "noerr": 0,
        "x": 1180,
        "y": 280,
        "wires": [
            [
                "ff0ebf33.8589"
            ],
            [
                "ba016c83.2081"
            ],
            [
                "e8966e36.0ac7b"
            ],
            [
                "b3af3db6.08247"
            ]
        ]
    },
    {
        "id": "b3af3db6.08247",
        "type": "delay",
        "z": "14d701a3.67e56e",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1580,
        "y": 680,
        "wires": [
            [
                "1d2b1356.f93afd"
            ]
        ]
    },
    {
        "id": "54a8275d.015b18",
        "type": "function",
        "z": "14d701a3.67e56e",
        "name": "Global ms",
        "func": "global.set(\"ms\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1250,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f9b02254.c469f",
        "type": "function",
        "z": "14d701a3.67e56e",
        "name": "Priority 1",
        "func": "msg.payload += global.get(\"ms\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1760,
        "y": 200,
        "wires": [
            [
                "1d2b1356.f93afd"
            ]
        ]
    },
    {
        "id": "ba016c83.2081",
        "type": "delay",
        "z": "14d701a3.67e56e",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1570,
        "y": 200,
        "wires": [
            [
                "f9b02254.c469f"
            ]
        ]
    },
    {
        "id": "a98c1408.0b1078",
        "type": "ui_dropdown",
        "z": "14d701a3.67e56e",
        "name": "",
        "label": "Select number of channels",
        "place": "Select option",
        "group": "de0f7450.093f18",
        "order": 6,
        "width": "6",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "1",
                "value": "0 0",
                "type": "str"
            },
            {
                "label": "2",
                "value": "0 0,1 1",
                "type": "str"
            },
            {
                "label": "3",
                "value": "0 0,1 1,2 2",
                "type": "str"
            },
            {
                "label": "4",
                "value": "0 0,1 1,2 2,3 3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 880,
        "y": 420,
        "wires": [
            [
                "cd5d782e.43b418"
            ]
        ]
    },
    {
        "id": "ff0ebf33.8589",
        "type": "delay",
        "z": "14d701a3.67e56e",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1750,
        "y": 60,
        "wires": [
            [
                "1d2b1356.f93afd"
            ]
        ]
    },
    {
        "id": "cd5d782e.43b418",
        "type": "function",
        "z": "14d701a3.67e56e",
        "name": "Global slist",
        "func": "global.set(\"slist\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e8966e36.0ac7b",
        "type": "delay",
        "z": "14d701a3.67e56e",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1440,
        "y": 420,
        "wires": [
            [
                "e66899e7.7aec88"
            ]
        ]
    },
    {
        "id": "e66899e7.7aec88",
        "type": "function",
        "z": "14d701a3.67e56e",
        "name": "Open Channels",
        "func": "msg.payload = global.get(\"slist\");\nvar sep = msg.payload.split(\",\");\n\nvar msg1 = { payload: sep[0] };\nif (typeof sep[1] !== undefined) {\n    var msg2 = { payload: sep[1] };\n    if (typeof sep[2] !== undefined) {\n        var msg3 = { payload: sep[2] };\n        if (typeof sep[3] !== undefined) {\n            var msg4 = { payload: sep[3] };\n            return [msg1, msg2, msg3, msg4];\n        }\n        return [msg1, msg2, msg3];\n    }\n    return [msg1, msg2];\n}\nreturn [msg1];",
        "outputs": 4,
        "noerr": 0,
        "x": 1600,
        "y": 420,
        "wires": [
            [
                "645ec09e.b8908"
            ],
            [
                "42be1fb2.f6587"
            ],
            [
                "80977abe.22eb88"
            ],
            [
                "568fa2a0.759f1c"
            ]
        ]
    },
    {
        "id": "940c0cac.90802",
        "type": "function",
        "z": "14d701a3.67e56e",
        "name": "Config Channels",
        "func": "var value = msg.payload;\nmsg.payload = \"slist \";\nmsg.payload += value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2050,
        "y": 420,
        "wires": [
            [
                "1d2b1356.f93afd"
            ]
        ]
    },
    {
        "id": "645ec09e.b8908",
        "type": "delay",
        "z": "14d701a3.67e56e",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1810,
        "y": 320,
        "wires": [
            [
                "940c0cac.90802"
            ]
        ]
    },
    {
        "id": "42be1fb2.f6587",
        "type": "delay",
        "z": "14d701a3.67e56e",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1810,
        "y": 380,
        "wires": [
            [
                "940c0cac.90802"
            ]
        ]
    },
    {
        "id": "80977abe.22eb88",
        "type": "delay",
        "z": "14d701a3.67e56e",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1810,
        "y": 460,
        "wires": [
            [
                "940c0cac.90802"
            ]
        ]
    },
    {
        "id": "568fa2a0.759f1c",
        "type": "delay",
        "z": "14d701a3.67e56e",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1810,
        "y": 520,
        "wires": [
            [
                "940c0cac.90802"
            ]
        ]
    },
    {
        "id": "dc576330.285df",
        "type": "serial out",
        "z": "14d701a3.67e56e",
        "name": "",
        "serial": "b9220e4.fb37df",
        "x": 2540,
        "y": 420,
        "wires": []
    },
    {
        "id": "696c1f41.37cc8",
        "type": "debug",
        "z": "14d701a3.67e56e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2530,
        "y": 500,
        "wires": []
    },
    {
        "id": "1d2b1356.f93afd",
        "type": "function",
        "z": "14d701a3.67e56e",
        "name": "Final Step",
        "func": "msg.payload += '\\r';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2300,
        "y": 420,
        "wires": [
            [
                "dc576330.285df",
                "696c1f41.37cc8"
            ]
        ]
    },
    {
        "id": "654ce948.0bdc48",
        "type": "function",
        "z": "14d701a3.67e56e",
        "name": "Stop it!",
        "func": "msg.payload += '\\r';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2280,
        "y": 620,
        "wires": [
            [
                "d5410de0.2f266",
                "696c1f41.37cc8"
            ]
        ]
    },
    {
        "id": "51ee6dae.93f754",
        "type": "comment",
        "z": "14d701a3.67e56e",
        "name": "Obsolete",
        "info": "This set of injections is no longer necessary for\nthe flow to function, but it will be kept just as\na note of previous designs for this flow.",
        "x": 300,
        "y": 220,
        "wires": []
    },
    {
        "id": "b9220e4.fb37df",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "10",
        "bin": "false",
        "out": "time",
        "addchar": false
    },
    {
        "id": "de0f7450.093f18",
        "type": "ui_group",
        "z": "",
        "name": "DAQ_Reader",
        "tab": "d1b5c3d4.757b4",
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "d1b5c3d4.757b4",
        "type": "ui_tab",
        "z": "",
        "name": "DATAQ",
        "icon": "dashboard",
        "order": 1
    }
]
